<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Welcome Page</title>
      
      
      <link rel="stylesheet" type="text/css" href="css/page-styles.css"/>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css" >
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116575270-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-116575270-1');
</script>

      
    </head>
    <body>
        <header>
          <nav class="container-fluid d-flex flex-row justify-content-center">
            <ul class="nav d-flex row justify-content-around">
           <li class="nav-item col-md-2 col-sm-12 d-flex flex-column justify-content-center">
             <form action="/category/work" method="POST">
            <input type="hidden" id="userid" name="useruid" value="{{userid}}" />
             <input type="hidden" name="username" value="{{username}}" />
             <input type="hidden" class="local" id="local" name="local" value=""/>
            <a class "nav-link" onclick="event.preventDefault(); this.parentNode.submit()" href="#" aria-controls="work">Work</a>
            </form>
            </li>
            <li class="nav-item col-md-2 col-sm-12 d-flex flex-column justify-content-center">
             <form action="/category/school" method="POST">
            <input type="hidden" name="useruid" value="{{userid}}" />
             <input type="hidden" name="username" value="{{username}}" />
             <input type="hidden" class="local" id="local" name="local" value="" />
            <a class "nav-link" onclick="event.preventDefault(); this.parentNode.submit()" href="#" aria-controls="school">School</a>
            </form>
            </li>
            <li id="cut" class="nav-item">
             <form action="/homepage" method="POST">
            <input type="hidden" name="useruid" value="{{userid}}" />
             <input type="hidden" name="username" value="{{username}}" />
             <input type="hidden" class="local" id="local" name="local" value="" />
            <a class "nav-link" onclick="event.preventDefault(); this.parentNode.submit()" href="#" aria-controls="landing"><img id="pic" src="/images/small.png"></a>
            </form>
            </li>
  
           <li class="nav-item col-md-2 col-sm-12 d-flex flex-column justify-content-center">
             <form action="/category/social" method="POST">
            <input type="hidden" name="useruid" value="{{userid}}" />
             <input type="hidden" name="username" value="{{username}}" />
             <input type="hidden" class="local" id="local" name="local" value="" />
            <a class "nav-link" onclick="event.preventDefault(); this.parentNode.submit()" href="#" aria-controls="social">Social</a>
            </form>
            </li>
            <li class="nav-item col-md-2 col-sm-12 d-flex flex-column justify-content-center">
             <form action="/category/health" method="POST">
            <input type="hidden" name="useruid" value="{{userid}}" />
             <input type="hidden" name="username" value="{{username}}" />
             <input type="hidden" class="local" id="local" name="local" value="" />
            <a class "nav-link" onclick="event.preventDefault(); this.parentNode.submit()" href="#" aria-controls="health">Health</a>
            </form>
            </li>
           
           </ul>
           </nav>
        </header>

    

<div class="container-fluid">
<div class="row">
    <div class="partition_1"></div>
<!-- TAB CONTENT -->

<div class=" col-12">

  <!-- Landing Page -->
  <div class="container-fluid pane">
      
    <div class="welcome_note">

            <div class="welcome_banner d-flex flex-column justify-content-start">
                <div class="text_1 col-12 ">
                    Welcome to <span>Flyt</span>
                  </div>
                  <div class="text_2 col-12">
                    Langara's&nbsp;<span>Peer Counselling</span>&nbsp;App
                  </div>
            </div>


            
<img id="banner" src="images/banner.png">
            <div id="instructions" class="d-flex flex-lg-row flex-md-row flex-wrap flex-column">

                <div class="card col-lg-4 col-md-5 col-sm-12">
                    <div class="card-body col-12">
                      <h5>Write</h5>
                      <img id="doc" src="images/doc.png">
                      <p>Life can get stressful. Share your story and get feedback from students who have been there.</p>
                      
                    </div>
                  </div>
                
                  <div class="card col-lg-4 col-md-5 col-sm-12">
                      <div class="card-body col-12">
                        <h5>Respond</h5>
                        <img src="images/respond.png">
                        <p>By starting a conversations students can help each other overcome problems they are facing.</p>
                        
                      </div>
                    </div>
                    <div class="card col-lg-4 col-md-5 col-sm-12">
                        <div class="card-body col-12">
                          <h5>Relate</h5>
                          <img src="/images/relate.png">
                          <p>We can all learn from one another by drawing on shared experience.</p>
                          
                        </div>
                      </div>
            </div>
<!-- end instructions -->

       </div>
<!-- end welcome_note -->

  </div>

<!-- End Landng page tab-->


                

</div>
<!-- end tab content -->
</div>
<!-- end row -->

</div>
<!-- end container -->

<footer>
  <nav class="d-flex flex-row justify-content-end">
    <ul id="options" class="nav d-flex flex-row">
      <li class="nav-item col d-flex align-items-center">
        <form action="/profile" method="POST">
        <input type="hidden" name="useruid" value="{{userid}}" />
        <input type="hidden" name="username" value="{{username}}"/>
        <input type="hidden" class="local" id="local" name="local" value="" />
        <a href="#" onclick="event.preventDefault(); this.parentNode.submit()" >Profile</a>
        </form>
        </li>
      <li class="nav-item col d-flex align-items-center"><a href="/signout">Logout</a></li>
    </ul>
    <ul class="nav d-flex flex-row">
      <li id="settings" class="nav-item col" data-toggle="toggle" data-target="#options"><img id="gear" src="/images/gear.png"></li></ul>
  </nav>
</footer>

    </body>
    <script src="js/jquery.slim.min.js" ></script>
    <!-- <script src="./node_modules/jquery/dist/jquery.js" ></script> -->
    <script src="/js/setlocal.js" ></script>
    <script src="/js/getlocal.js" ></script>
    <script src="/js/popper.min.js" ></script>
    <script src="/js/bootstrap.min.js" ></script>
  <script src="/js/app.js"></script>
</html>
